/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*nav header menu*/
nav{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.0);
  background-color: #fff;
}
nav .brand-logo {
  color: #fff;
  left: 30px;
  transform: inherit;
  font-size: medium;
  padding-left: 6px;
}

nav .icon-logo {
  transform: inherit;
  left: 1px;
  padding-top: 7px;
}
.icon-logo img{
  margin-top: 8px;
}
.navtrans {
  position:absolute;
  z-index: 10;
  background-color: #e0e3e6;
}
.button-contact {
  float: right;
  transform: inherit;
  margin-top: -7px;
  border-radius: 36px;
}
.button-contact button:hover{
  margin-top: -7px;
  border-radius: 36px;
}
.button-contact i {
  margin-top: -16px;
  margin-left: 9px;
}
nav a{
  color: #000;
}

/*toogle FAB menu*/
nav ul a .btn-floating {
  margin-left: -25px !important;
  vertical-align: center;
}

.btn-floating i {
  color: #fff !important;
}
 ul li {
  margin-left: -7px;
  margin-bottom: -5px !important;
 }

#menu-right{
  float: right;
  width: 55px;
  height: 55px;
  padding: 17px 11px;
}

.menu-right:hover{
  cursor: pointer;
}

.bar-right{
  float: right;
  width: 34px;
  height: 3px;
  background-color: #fff;
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
}

.bar-right:nth-of-type(2){
  width: 25px;
  margin: 7px 0;
}

#menu-right.active .bar-right:nth-of-type(2){
  opacity: 0;
}

#menu-right.active .bar-right:nth-of-type(1){
  transform: translateY(9px) rotate(-45deg);
}

#menu-right.active .bar-right:nth-of-type(3){
  transform: translateY(-9px) rotate(45deg);
}


/*content*/

.bgcolor {
  background-color: #fbf3ff !important;
}
.bgcolor .section .row h1{
  margin-left: 29px;
}
p {
  line-height: 2rem;
}
.container-body .row .areateks{
  padding:150px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  .no-pad-bot .container {
   margin-top: 150px;
   color: #000 !important;
  }
}
.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 10%;
  min-width: 100%;
  min-height: 100%;
  /*-webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);*/
}
.paralax-bg {
  background-color: rgba(15,15,15,0.1);
  min-height: 600px;
  width: -webkit-fill-available;
}

 
/* default iphone 5, SE, 6, 7, 8, plus, galaxy layout */
/* default iphone x, pixel, pixel xl,  layout */
@media only screen and (min-width: 320px) and (max-width: 479px) {
   #index-banner .section {
    top: 0;
  }
  .parallax img{
   display: none;
   position: absolute;
   left: 50%;
   bottom: 0%;
   min-width: 100%;
   min-height: 100%;
  }
  .container-body .row .areateks{
  padding: 20px 0px 20px 0px;
  }
  .container-body .row{
  margin-bottom: 0px!important;
  }
  .bgcolor .section .row h1{
  margin-left: 25px;
  margin-right: 20px;
  }
  .button-contact {
  float: right;
  transform: inherit;
  border-radius: 36px;
  margin-top: -2px;
  }
}

/* default wide mobile layout */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   #index-banner .section {
    top: 0;
  }
  .parallax img{
   display: none;
   position: absolute;
   left: 50%;
   bottom: 10%;
   min-width: 100%;
   min-height: 100%;
  }
  .container-body .row .areateks{
  padding: 20px 30px 20px 30px;
  }
  .container-body .row{
    margin-bottom: 0px!important;
  }
}
 
/* default phablet or ipad layout */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .parallax img{
   display: none;
   position: absolute;
   left: 50%;
   bottom: 10%;
   min-width: 100%;
   min-height: 100%;
  }
  .container-body .row .areateks{
  padding: 20px 30px 20px 30px;
  }
  .container-body .row{
    margin-bottom: 0px!important;
  }
}
 
/* default ipad pro layout */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .container-body .row .areateks{
  padding: 20px 130px 20px 130px;
  }
  .parallax img{
    display: none;
    position: absolute;
    left: 50%;
    bottom: 20%;
    min-width: 100%;
    min-height: 100%;
  }
  .container-body .row{
    margin-bottom: 0px!important;
  }
}

/* default laptop Mdpi */
@media only screen and (min-width: 1280px) {
   .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .container-body .row .areateks{
  padding: 20px 170px 20px 170px;
  }
  .parallax img{
    display: none;
    position: absolute;
    left: 50%;
    bottom: 2%;
    min-width: 100%;
    min-height: 100%;
  }
  .container-body .row{
    margin-bottom: 0px!important;
  }
  .bgcolor .section .sectionlayout{
    margin-right: -10px !important;
  }
}

/* default laptop Hdpi */
@media only screen and (min-width: 1025px) {
   .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .container-body .row .areateks{
  padding: 20px 170px 20px 170px;
  }
  .parallax img{
    display: none;
    position: absolute;
    left: 50%;
    bottom: 2%;
    min-width: 100%;
    min-height: 100%;
  }
  .container-body .row{
    margin-bottom: 0px!important;
  }
  .bgcolor .section .sectionlayout{
    margin-right: -10px !important;
  }
}

/* default laptop Ldpi LARGE */
@media only screen and (min-width: 1440px) {
   .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .container-body .row .areateks{
  padding: 20px 235px 20px 235px;
  }
}

/* default laptop Large dpi 
@media only screen and (min-width: 1920px) {
   .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .container-body .row .areateks{
  padding: 20px 235px 20px 235px;
  }
}*/


/*footer*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.page-footer ul li {
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-left: 2px;
}
.page-footer ul li hover{
  cursor: pointer;
}
.page-footer .footer-text1{
  font-size: 12px;
  color: black;
}
.page-footer .page-copyright .container a{
  font-size: 12px;
}
.footer-copyright {
  height: 5px;
}